@import url(../../vendor/fonts.css);

.header {
  /* background-color: cadetblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header__logoImg {
  height: 40px;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 18px;
}

.header__addBtn {
  background: transparent center no-repeat;
  border: none;
  outline: none;
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  transition: opacity linear 0.1s 0.2s;
  cursor: pointer;
}

.header__addBtn:hover {
  opacity: 60%;
}

.header__avatar {
  width: 40px;
  height: 40px;
}
