@import url(../../vendor/fonts.css);

.modal__image {
  width: 498px;
  height: 498px;
  border-radius: 16px 16px 0 0;
  margin: 0;
}

.modal__text {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-family: "CabinetGrotesk-Bold";
}
.modal__description {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
  gap: 20px;
  margin: 0;
}

.modal__deleteBtn {
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  color: #ff4d00;
}

.modal__deleteBtn_visible {
  visibility: visible;
}

.modal__deleteBtn_hidden {
  visibility: hidden;
}

.modal__btn {
  background: transparent center no-repeat;
  border: none;
  outline: none;
  transition: opacity linear 0.1s 0.1s;
  cursor: pointer;
  padding: 0;
  height: fit-content;
  width: fit-content;
}

.modal__btn:hover {
  opacity: 60%;
}
