.sidebar {
  /* background-color: blue; */
  display: flex;
  margin: 0 0 auto 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.sidebar__user {
  display: flex;
  flex-direction: row;
  margin: 0 0 10px 0;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  margin-right: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: relative;
}

.sidebar__place-holder {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar__name {
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  line-height: 25px;
}

.sidebar__btns {
  background: transparent;
  border: none;
  outline: none;
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  transition: opacity linear 0.1s 0.1s;
  cursor: pointer;
  padding: 0;
  text-align: start;
}

.sidebar__btns:hover {
  opacity: 60%;
}
